{% extends 'base.html' %}

{% block content %}
    <style>
        .widthx {width: 1200px;}
    </style>

    <br/>
    <br/>

    <div class="container">
        <div class="row">
            <form>
                <form class="widthx form-group" method="POST" action="{% url 'regex' %}">
                    {% csrf_token %}
                    <label for="exampleFormControlTextarea1">Enter Your Text</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text" placeholder="Please enter your text here"></textarea>
                    <break>
                    </break>
                    <div class="container">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Regex</button>
                    </div>
                </form>
            </form>
        </div>
        <br />
        <div class="row">
            <form>
                <form class="widthx form-group" method="POST" action="{% url 'lemma' %}">
                    {% csrf_token %}
                    <label for="exampleFormControlTextarea2">Enter Your Text</label>
                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" name="text" placeholder="Please enter your text here"></textarea>
                    <break>
                    </break>
                    <div class="container">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Lemma</button>
                    </div>
                </form>
            </form>
        </div>
        <br />
        <div class="row">
            <form>
                <form class="widthx form-group" method="POST" action="{% url 'pos' %}">
                    {% csrf_token %}
                    <label for="exampleFormControlTextarea3">Enter Your Text for POS</label>
                    <textarea class="form-control" id="exampleFormControlTextarea3" rows="3" name="text" placeholder="Please enter your text here"></textarea>
                    <break>
                    </break>
                    <div class="container">
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">POS</button>
                    </div>
                </form>
            </form>
        </div>
        <br/>
        <div class="row">
            <form>
                <form class="widthx form-group" method="POST" action="{% url 'ner' %}">
                    {% csrf_token %}
                    <label for="exampleFormControlTextarea4">Enter your text for NER</label>
                    <textarea class="form-control" id="exampleFormControlTextarea4" rows="3" name="text" placeholder="Please enter your text here"></textarea>
                    <break>
                    </break>
                    <div class="container">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">NER</button>
                    </div>
                </form>
            </form>
        </div>
    </div>
{% endblock %}